<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UMAY Admin"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crewintel"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Crewintel.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.LoginActivity" android:exported="false" />
        <activity android:name=".screens.DashboardActivity" android:exported="false" />
        <activity android:name=".screens.CrewListActivity" android:exported="false" />
        <activity android:name=".screens.CrewDetailActivity" android:exported="false" />
        <activity android:name=".screens.DocumentListActivity" android:exported="false" />
        <activity android:name=".screens.ShipListActivity" android:exported="false" />
        <activity android:name=".screens.SettingsActivity" android:exported="false" />
        <activity android:name=".screens.AIAnalysisActivity" android:exported="false" />
        <activity android:name=".screens.SocialSettingsActivity" android:exported="false" />
        <activity android:name=".screens.WarningDetailActivity" android:exported="false" />
        <activity android:name=".screens.QuickContactActivity" android:exported="false" />
        <activity android:name=".screens.NotesActivity" android:exported="false" />
        <activity android:name=".screens.JobPostActivity" android:exported="false" />
        <activity android:name=".screens.SalaryActivity" android:exported="false" />
        <activity android:name=".screens.ActivityFeedActivity" android:exported="false" />
        <activity android:name=".screens.EmailActivity" android:exported="false" />
        <activity android:name=".screens.DocumentUploadActivity" android:exported="false" />

        <activity
            android:name=".screens.SocialDownloaderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".screens.DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
